[user]
	name = Other
	email = other@example.com
	signingkey = ABC!

[url "git@github.com-other:"]
	insteadOf = git@github.com:

[core]
	sshCommand = ssh -i ~/.ssh/other

[commit]
	gpgsign = true

[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = other@example.com
	smtpServerPort = 587
