[user]
	name = "Uknown"
[gpg]
	format = ssh

[includeIf "gitdir:~/Code/sytranvn/"]
    path = ./sytranvnconfig
    
[includeIf "gitdir:~/Code/oss/"]
    path = ./sytranvnconfig
    
[includeIf "gitdir:.config/"]
    path = ./sytranvnconfig

[includeIf "gitdir:~/Code/sytd/"]
    path = ./sytdconfig
