#!/usr/bin/env bash

alias b='cd -'
alias cdp='cd -P'
alias vim=nvim
alias brc='nvim ~/.config/bash/.bashrc'
alias brl='source ~/.bashrc'
if [ "$(uname -s)" == "Darwin" ]; then
	alias brl="source ~/.bash_profile"
fi
alias vrc='nvim ~/.config/nvim'
alias arc='nvim ~/.config/bash/.aliases'
alias path='echo -e ${PATH//:/\\n}'
alias ll='ls -lahG'
alias debugpy='python -m debugpy --listen localhost:5678'

for d in $(ls $HOME/Code); do
	if [ -d $HOME/Code/$d ]; then
	alias $d="cd $HOME/Code/$d"
	fi
done

alias v='nvim'
alias config='cd ~/.config'
for d in $(ls $HOME/.config); do
	if [ -d "$HOME/.config/$d" ]; then
		if git -C "$HOME/.config" ls-files --error-unmatch "$HOME/.config/$d" > /dev/null 2>&1; then 
		name=conf_${d}
		alias $name="cd $HOME/.config/$d"
		fi
	fi
done

alias rr='rm -rf'
alias activate='source .venv/bin/activate'
