#!/usr/bin/env bash

alias b='cd -'
alias cdp='cd -P'
alias vim=nvim
alias brc='nvim ~/.config/bash/.bashrc'
alias brl='source ~/.bashrc'
if [ "$(uname -s)" == "Darwin" ]; then
	alias brl="source ~/.bash_profile"
fi
alias vrc='nvim ~/.config/nvim'
alias arc='nvim ~/.config/bash/.aliases'
alias path='echo -e ${PATH//:/\\n}'
alias ll='ls -lahG'
alias debugpy='python -m debugpy --listen localhost:5678'
